fieldset {
	border-radius: 10px;
}

legend {
	background: inherit;
	margin: 2px 0px 0px -11px;
	border-top: inherit;
	border-left: inherit;
	border-radius: 5px 5px 0 0;
	padding: 2px 10px;
	top: 0;
}

.fa.fa-cog.cb_edit_icon {
	color: #43C52A;
	font-size: 18px;
}

.cb_del_icon {
	color: #E23156;
	font-size: 18px;
}


.button2.cb_button {
	width: auto !important;
	padding: 1px 3px 0 3px !important;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	color: #000;
	font-size: 0.85em;
	background: #EFEFEF url("../images/bg_button.gif") repeat-x top;
	cursor: pointer;
	border: 1px solid #666666;
}
